footer.footer
  .wrapper
    .left
      a(href='/')
        h2.logo Homiestay.com
      ul.social-list
        li.social-item
          a.social-link(href="#") 
            i.fa-brands.fa-facebook-square
            span Facebook
        li.social-item
          a.social-link(href="#") 
            i.fa-brands.fa-instagram-square
            span Instagram
        li.social-item
          a.social-link(href="#") 
            i.fa-brands.fa-twitter-square
            span Twitter
        li.social-item
          a.social-link(href="#") 
            i.fa-brands.fa-youtube-square
            span Youtube
    .right
      ul.footer-column
        li.footer-title
          h3 Về Homiestay.com
        li.footer-item
          a.footer-link(href="#") Thông tin liên hệ
        li.footer-item
          a.footer-link(href="#") Quy trình đặt phòng
        li.footer-item
          a.footer-link(href="#") Chính sách đổi trả
        li.footer-item
          a.footer-link(href="#") Tuyển dụng
      ul.footer-column
        li.footer-title
          h3 Chính sách
        li.footer-item
          a.footer-link(href="#") Chính sách quyền riêng tư
        li.footer-item
          a.footer-link(href="#") Trợ giúp
        li.footer-item
          a.footer-link(href="#") Đăng ký nơi nghỉ của bạn
        li.footer-item
          a.footer-link(href="#") Khu vực báo chí
      ul.footer-column
        li.footer-title
          h3 Vấn đề khác
        li.footer-item
          a.footer-link(href="#") Đặt cọc
        li.footer-item
          a.footer-link(href="#") Combo tiết kiệm
        li.footer-item
          a.footer-link(href="#") Đặt quảng cáo
        li.footer-item
          a.footer-link(href="#") Tải ứng dụng
