header.header
  .wrapper
    .left
      a(href='/')
        h1.logo Homiestay.com
    .right
      a.booked.reversed-style(href='#') Booked
      a.login-button(href='#') Login
      a.signup-button(href='#') Signup
