
<!-- Messenger Plugin chat Code -->
#fb-root

<!-- Your Plugin chat code -->
#fb-customer-chat.fb-customerchat

script.
  var chatbox = document.getElementById('fb-customer-chat')
  chatbox.setAttribute('page_id', '425537250931445')
  chatbox.setAttribute('attribution', 'biz_inbox')

<!-- Your SDK code -->
script.
  window.fbAsyncInit = function () {
    FB.init({
      xfbml: true,
      version: 'v13.0',
    })
  }
  ;(function (d, s, id) {
    var js,
      fjs = d.getElementsByTagName(s)[0]
    if (d.getElementById(id)) return
    js = d.createElement(s)
    js.id = id
    js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js'
    fjs.parentNode.insertBefore(js, fjs)
  })(document, 'script', 'facebook-jssdk')

header.header
  .wrapper
    .left
      a(href='/')
        h1.logo Homiestay.com
    .right
      a.booked.reversed-style(href='#') Booked
      a.login-button(href='#') Login
      a.signup-button(href='#') Signup
