@charset 'utf-8'

footer
  padding: 50px 0
  color: #fff
  background-color: #333
  .wrapper
    display: flex
    gap: 30px 60px
  .logo
    margin-bottom: 30px
    font-size: 20px
    font-weight: 700
    color: #fff
  .social-list
    .social-link
      display: inline-flex
      align-items: center
      gap: 15px
      margin-bottom: 14px
      color: #fff
      i
        font-size: 30px
  .footer-title
    margin-bottom: 20px
    font-size: 18px
    font-weight: 700
    color: #fff
  .footer-item
    margin-bottom: 15px
  .footer-link
    color: #ccc

+desktop
  footer
    .left
      flex: 0 0 300px
    .right
      display: flex
      justify-content: space-between
      width: 100%
      gap: 30px
    .footer-column
      flex: 0 0 calc(100% / 3)

+mobile
  footer
    .wrapper
      flex-direction: column
    .left
      width: 100%
    .footer-column:not(:last-child)
      margin-bottom: 40px
    .social-list
      .social-link
        display: flex
    .footer-link
      display: block
