.header
  padding: 20px 0
  background-color: $color1
  color: #fff
  a
    color: #fff
  .logo
    font-size: 30px
  .wrapper
    display: flex
    justify-content: space-between
  .right
    display: flex
    a
      margin: 5px 10px
      padding: 6px 20px
      background-color: #fff
      color: $color1
      border: 1px solid #fff
      // border-radius: 8px
      &.reversed-style
        background-color: $color1
        border-color: #fff
        color: #fff
